<%- include('partials/header.ejs') -%>

<main>
  <section>
    <ul></ul>
  </section>

  <form>
    <input type="text" autocomplete="off" />
    <button><span>Send</span></button>
  </form>
</main>

<%- include('partials/footer.ejs') -%>
