.chat-container {
  background-color: hsl(220, 12%, 14%);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.messages-container {
  height: 100%;
  padding: 32px;
}

.message-list {
  list-style-type: none;
  padding: 0;
}

.message.self {
  text-align: right;
  margin-left: auto;
  background-color: #6B8AFD;
}

.message {
  padding: 12px;
  margin: 12px;
  background-color: #2E343D;
  border-radius: 12px;
  width: fit-content;
}

.new-message-container {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
}

input[type="text"] {
  display: block;
  margin: 0;
  padding: 16px 8px;
  width: 100%;
  border: none;
  border-radius: 16px;
  background-color: #2E343D;
  color: white;
  font-size: 18px;
}

.new-message-container input[type="text"] {
  margin-right: 16px;
  margin-left: 16px;
}

button {
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  padding: 16px 32px;
}

.picker {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; left: 50%;
}